apiVersion: v2
name: r2devops
description: Helm chart for R2Devops
type: application
version: "2.17.3"
appVersion: "2.17.3"
home: https://github.com/r2devops/self-managed/
maintainers:
  - name: devpro
    email: bertrand@devpro.fr
  - name: gemini-jtff
    email: slongo@klanik.com
  - name: thomasboni
    email: thomas@r2devops.io
  - name: Totara-thib
    email: thibaud@r2devops.io
