apiVersion: v2
name: r2devops
description: Helm chart for R2Devops
type: application
version: "2.10.0"
appVersion: "2.10.0"
dependencies:
  # ref. https://github.com/bitnami/charts/blob/main/bitnami/redis
  - name: redis
    version: 16.13.2  # appVersion: 6.2.7
    repository: https://charts.bitnami.com/bitnami
    condition: redis.dependency.enabled
  # ref. https://github.com/bitnami/charts/blob/main/bitnami/postgresql
  - name: postgresql
    version: 11.9.13  # appVersion: 14.5.0
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.dependency.enabled
maintainers:
  - name: devpro
    email: bertrand@devpro.fr
  - name: gemini-jtff
    email: slongo@klanik.com
  - name: thomasboni
    email: thomas@r2devops.io
  - name: Totara-thib
    email: thibaud@r2devops.io
home: https://gitlab.com/r2devops/self-managed/charts/r2devops
