{
  "appTitle": "R2Devops",
  "apiUrl": "http://localhost:3001/api",
  "apiUrlInternal": "http://jobs:3000/api",
  "gitLabApiUrl": "GITLAB_INSTANCE_URL",
  "selfHosted": true,
  "docUrl": "https://docs.r2devops.io",
  "debug": false,
  "allowExternalQueries": true
}
