{
  "appTitle": "R2Devops",
  "apiUrl": "http://localhost:3001/api",
  "apiUrlInternal": "http://jobs:3000",
  "gitLabApiUrl": "GITLAB_INSTANCE_URL",
  "selfHosted": true,
  "docUrl": "https://docs.r2devops.io"
}
