{
  "appTitle": "R2Devops",
  "apiUrl": "https://api.r2devops.<domain_name>",
  "apiUrlIdentities": "https://api.r2devops.<domain_name>/kratos/public",
  "gitLabApiUrl": "https://<gitlab_intance_domain>",
  "selfHosted": true,
  "docUrl": "https://docs.r2devops.io"
}
