########################################################################
# R2Devops configuration file                                          #
# Community support                                                    #
# Documentation: https://docs.r2devops.io/self-managed/podman/         #
########################################################################
apiVersion: v1
kind: ConfigMap
metadata:
  name: r2devops-jobs
data:
  JOBS_LISTEN_ADDR: 0.0.0.0
  JOBS_LISTEN_PORT: 80
  JOBS_CORS_ORIGIN: https://${DOMAIN_NAME}
  JOBS_FRONTEND_URL: https://${DOMAIN_NAME}
  JOBS_SESSION_TTL: 168h
  JOBS_DB_HOST: postgres
  JOBS_DB_PORT: 5432
  JOBS_DB_SSLMODE: disable
  JOBS_DB_TIMEZONE: Europe/Paris
  JOBS_API_DOMAIN: https://${API_URL}
  LOG_LEVEL: info
  LOG_FORMATTER: text
  JOBS_REDIS_HOST: redis
  JOBS_REDIS_PORT: 6379
  JOBS_REDIS_DB: 0
  JOBS_REDIS_USER: default
  JOBS_REDIS_SET_NAMESPACES_TTL: 30s
  GITLEAKS_PATH: /opt/gitleaks
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: r2devops-envs
data:
  DOMAIN_NAME: "${DOMAIN_NAME}"
  CERTIFICATE_EMAIL: "${CERTIFICATE_EMAIL}"
  JOBS_GITLAB_URL: "${JOBS_GITLAB_URL}"
  ORGANIZATION: "${ORGANIZATION}"
  LICENSE: "${LICENSE}"
  GITLAB_OAUTH2_CLIENT_ID: "${GITLAB_OAUTH2_CLIENT_ID}"
  GITLAB_OAUTH2_CLIENT_SECRET: "${GITLAB_OAUTH2_CLIENT_SECRET}"
  SECRET_KEY: "${SECRET_KEY}"
  JOBS_DB_PASSWORD: "${JOBS_DB_PASSWORD}"
  JOBS_REDIS_PASSWORD: "${JOBS_REDIS_PASSWORD}"
  JOBS_DB_USER: "${JOBS_DB_USER}"
  JOBS_DB_NAME: "${JOBS_DB_NAME}"
  JOBS_DB_HOST: "${JOBS_DB_HOST}"
  JOBS_DB_PORT: "${JOBS_DB_PORT}"
  JOBS_DB_SSLMODE: "${JOBS_DB_SSLMODE}"
  JOBS_DB_TIMEZONE: "${JOBS_DB_TIMEZONE}"
  FRONTEND_DOMAIN: "${FRONTEND_DOMAIN}"
  API_DOMAIN: "${API_DOMAIN}"
  API_PATH: "${API_PATH}"
  API_URL: "${API_URL}"
