########################################################################
# R2Devops configuration file                                          #
# Community support                                                    #
# Documentation: https://docs.r2devops.io/self-managed/local-podman/   #
########################################################################
apiVersion: v1
kind: ConfigMap
metadata:
  name: r2devops-jobs
data:
  JOBS_LISTEN_ADDR: 0.0.0.0
  JOBS_LISTEN_PORT: 3000
  JOBS_CORS_ORIGIN: http://${FRONTEND_DOMAIN}
  JOBS_FRONTEND_URL: http://${FRONTEND_DOMAIN}
  JOBS_SESSION_TTL: 168h
  JOBS_DB_HOST: postgres
  JOBS_DB_PORT: 5432
  JOBS_DB_SSLMODE: disable
  JOBS_DB_TIMEZONE: Europe/Paris
  JOBS_API_DOMAIN: http://${API_URL}
  LOG_LEVEL: info
  LOG_FORMATTER: text
  S3_HOST: minio:9000
  S3_REGION: us-east-1
  S3_DISABLE_SSL: true
  S3_FORCE_PATH_STYLE: true
  JOBS_REDIS_HOST: redis
  JOBS_REDIS_PORT: 6379
  JOBS_REDIS_DB: 0
  JOBS_REDIS_USER: default
  JOBS_REDIS_SET_NAMESPACES_TTL: 30s
  GITLEAKS_PATH: /opt/gitleaks
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: r2devops-envs
data:
  JOBS_GITLAB_URL: "${JOBS_GITLAB_URL}"
  FRONTEND_IMAGE_TAG: "${FRONTEND_IMAGE_TAG}"
  BACKEND_IMAGE_TAG: "${BACKEND_IMAGE_TAG}"
  ORGANIZATION: "${ORGANIZATION}"
  LICENSE: "${LICENSE}"
  GITLAB_OAUTH2_CLIENT_ID: "${GITLAB_OAUTH2_CLIENT_ID}"
  GITLAB_OAUTH2_CLIENT_SECRET: "${GITLAB_OAUTH2_CLIENT_SECRET}"
  SECRET_KEY: "${SECRET_KEY}"
  JOBS_DB_PASSWORD: "${JOBS_DB_PASSWORD}"
  JOBS_REDIS_PASSWORD: "${JOBS_REDIS_PASSWORD}"
  S3_SECRET_KEY: "${S3_SECRET_KEY}"
  FRONTEND_DOMAIN: "${FRONTEND_DOMAIN}"
  API_DOMAIN: "${API_DOMAIN}"
  API_PATH: "${API_PATH}"
  API_URL: "${API_URL}"
  S3_ACCESS_KEY: "${S3_ACCESS_KEY}"
  S3_BUCKET: "${S3_BUCKET}"
  JOBS_DB_USER: "${JOBS_DB_USER}"
  JOBS_DB_NAME: "${JOBS_DB_NAME}"
