########################################################################
# Plumber configuration file                                           #
# Community support                                                    #
# Documentation: https://getplumber.io/docs/installation/local-podman/ #
########################################################################
# Redis
apiVersion: v1
kind: Pod
metadata:
  name: redis
spec:
  containers:
  - name: redis
    image: redis:8.4
    command:
    - redis-server
    - --requirepass ${JOBS_REDIS_PASSWORD}
    ports:
    - containerPort: 6379
    envFrom:
    - configMapRef:
        name: plumber-envs
        optional: false
status: {}
---
# Postgres
apiVersion: v1
kind: Pod
metadata:
  name: postgres
spec:
  containers:
  - name: postgres
    image: postgres:13.21
    ports:
    - containerPort: 5432
    env:
    - name: POSTGRES_USER
      value: "${JOBS_DB_USER}"
    - name: POSTGRES_PASSWORD
      value: "${JOBS_DB_PASSWORD}"
    - name: POSTGRES_DB
      value: "${JOBS_DB_NAME}"
    volumeMounts:
    - name: postgres-data
      mountPath: /var/lib/postgresql/data
  volumes:
  - name: postgres-data
    PersistentVolumeClaim:
      claimName: postgres-data
status: {}
---
# Plumber Front
apiVersion: v1
kind: Pod
metadata:
  name: plumber-front
spec:
  containers:
  - name: frontend
    image: docker.io/plumberio/frontend:${FRONTEND_IMAGE_TAG}
    ports:
    - containerPort: 3000
      hostPort: 3000
    envFrom:
    - configMapRef:
        name: plumber-envs
        optional: false
    volumeMounts:
    - name: certs
      mountPath: /usr/local/share/ca-certificates
  volumes:
  - name: certs
    hostPath:
      path: ./.docker/ca-certificates
      type: Directory
status: {}
---
# Plumber Backend
apiVersion: v1
kind: Pod
metadata:
  name: backend
spec:
  initContainers:
  - name: wait-for-services
    image: busybox
    command:
    - "/bin/sh"
    - "-c"
    args:
    - "until echo 'Waiting for postgres...' && nc -vz -w 2 postgres 5432 && echo 'Waiting for redis...' && nc -vz -w 2 redis 6379; do echo 'Looping forever...'; sleep 2; done;"
  containers:
  - name: backend
    image: docker.io/plumberio/jobs:${BACKEND_IMAGE_TAG}
    command: ["/bin/sh", "-c", "sleep 10 && ./app"]
    ports:
    - containerPort: 3000
      hostPort: 3001
    envFrom:
    - configMapRef:
        name: plumber-backend
        optional: false
    - configMapRef:
        name: plumber-envs
        optional: false
    volumeMounts:
    - name: certs
      mountPath: /usr/local/share/ca-certificates
  volumes:
  - name: certs
    hostPath:
      path: ./.docker/ca-certificates
      type: Directory
status: {}
---
# Plumber workers
apiVersion: apps/v1
kind: Deployment
metadata:
  name: plumber-workers-deployment
spec:
  selector:
    matchLabels:
      app: plumber-workers
  template:
    metadata:
      name: plumber-workers
    spec:
      replicas: 5
      initContainers:
      - name: wait-for-services
        image: busybox
        command:
        - "/bin/sh"
        - "-c"
        args:
        - "until echo 'Waiting for postgres...' && nc -vz -w 2 postgres 5432 && echo 'Waiting for redis...' && nc -vz -w 2 redis 6379; do echo 'Looping forever...'; sleep 2; done;"
      containers:
      - name: workers
        image: docker.io/plumberio/jobs:${BACKEND_IMAGE_TAG}
        command: ["/bin/sh", "-c", "sleep 15 && ./app --worker"]
        envFrom:
        - configMapRef:
            name: plumber-backend
            optional: false
        - configMapRef:
            name: plumber-envs
            optional: false
        volumeMounts:
        - name: certs
          mountPath: /usr/local/share/ca-certificates
      volumes:
      - name: certs
        hostPath:
          path: ./.docker/ca-certificates
          type: Directory
status: {}
