front:
  host: "R2DEVOPS_DOMAIN"

jobs:
  host: "api.R2DEVOPS_DOMAIN"

worker:
  replicaCount: 2

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod

postgresql:
  dependency:
    enabled: true
  global:
    postgresql:
      auth:
        password: POSTGRESQL_PASSWORD
        postgresPassword: POSTGRESQL_PASSWORD

redis:
  dependency:
    enabled: true
  auth:
    password: REDIS_PASSWORD

