---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ .Values.front.name }}
    app.kubernetes.io/name: {{ .Values.front.name }}
  name: {{ .Values.front.name }}
data:
  config.body: |
    {
      "appTitle": "R2Devops",
      "apiUrl": "https://{{ .Values.jobs.host }}/api",
      "apiUrlIdentities": "https://{{ .Values.jobs.host }}/kratos/public",
      "gitLabApiUrl": "{{ .Values.gitlab.domain }}",
      "selfHosted": true,
      "docUrl": "https://docs.r2devops.io"
    }

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.customCertificateAuthority.configMapName }}
data:
  {{- range .Values.customCertificateAuthority.certificates }}
  {{ .name }}: {{ .value | quote }}
  {{- end }}

