{{- $applications := list .Values.front .Values.jobs .Values.worker -}}
{{ range $applications }}
{{- if .enabled -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .name }}
  labels:
    app: {{ .name }}
    app.kubernetes.io/name: {{ .name }}
spec:
  replicas: {{ .replicaCount }}
  selector:
    matchLabels:
      app: {{ .name }}
      app.kubernetes.io/name: {{ .name }}
  template:
    metadata:
      labels:
        app: {{ .name }}
        app.kubernetes.io/name: {{ .name }}
    spec:
      containers:
        - name: {{ .name }}
          image: {{ .image }}:{{ .tag }}
          imagePullPolicy: Always
          {{- if .command }}
          command: {{ .command }}
          {{- end }}
          {{- if .args }}
          args:
            {{ toYaml .args | nindent 12}}
          {{- end }}
          {{- if .port }}
          ports:
            - name: http
              containerPort: {{ .port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: {{ .livenessEndpoint }}
              port: http
          readinessProbe:
            httpGet:
              path: {{ .readinesspoint }}
              port: http
          {{- end }}
          resources:
            {{- toYaml .resources | nindent 12 }}
          env:
          {{- if .extraEnv }}
            {{- toYaml .extraEnv | nindent 12 }}
          {{- end }}
          {{- if .addJobsExtraEnv }}
            {{- toYaml $.Values.jobs.extraEnv | nindent 12 }}
          {{- end }}
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
            {{- if eq .type "backend" }}
            - name: JOBS_LISTEN_ADDR
              value: "0.0.0.0"
            - name: JOBS_LISTEN_PORT
              value: "3000"
            - name: JOBS_DB_HOST
              value: "{{ default (printf "%s-%s" $.Release.Name "postgresql") $.Values.postgresql.custom.host }}"
            - name: JOBS_SESSION_TTL
              value: "{{ default "168h" $.Values.jobs.sessionTTL }}"
            - name: JOBS_DB_PORT
              value: "{{ $.Values.postgresql.custom.port }}"
            - name: JOBS_DB_USER
              value: "{{ $.Values.postgresql.global.postgresql.auth.username }}"
            - name: JOBS_DB_NAME
              value: "{{ $.Values.postgresql.custom.dbName }}"
            - name: JOBS_DB_SSLMODE
              value: "{{ $.Values.postgresql.custom.sslmode }}"
            - name: JOBS_DB_TIMEZONE
              value: "Europe/Paris"
            - name: JOBS_GITLAB_URL
              value: "{{ $.Values.gitlab.domain }}"
            - name: ORGANIZATION
              value: "{{ $.Values.gitlab.organization }}"
            - name: JOBS_API_DOMAIN
              value: "https://{{ default $.Values.jobs.name $.Values.jobs.host }}/api"
            - name: JOBS_FRONTEND_URL
              value: "https://{{ default $.Values.front.name $.Values.front.host }}"
            - name: JOBS_CORS_ORIGIN
              value: "https://{{ default $.Values.front.name $.Values.front.host }}"
            - name: S3_HOST
              value: {{ default (printf "%s-%s" $.Release.Name "minio:9000") $.Values.minio.custom.host | quote }}
            - name: S3_REGION
              value: "{{ $.Values.minio.custom.region }}"
            - name: S3_BUCKET
              value: "{{ $.Values.minio.custom.bucketName }}"
            - name: S3_DISABLE_SSL
              value: "{{ $.Values.minio.custom.disableSSL }}"
            - name: S3_FORCE_PATH_STYLE
              value: "{{ $.Values.minio.custom.forcePathStyle }}"
            - name: JOBS_REDIS_HOST
              value: "{{ default (printf "%s-%s" $.Release.Name "redis-master") $.Values.redis.custom.host }}"
            - name: JOBS_REDIS_PORT
              value: "{{ $.Values.redis.custom.port }}"
            - name: JOBS_REDIS_DB
              value: "0"
            - name: JOBS_REDIS_USER
              value: "{{ $.Values.redis.custom.user }}"
            - name: JOBS_REDIS_SET_NAMESPACES_TTL
              value: "30s"
            - name: GITLEAKS_PATH
              value: "/opt/gitleaks"

            {{- if empty (default "" $.Values.postgresql.global.postgresql.auth.existingSecret) }}
            - name: JOBS_DB_PASSWORD
              value: "{{ $.Values.postgresql.global.postgresql.auth.postgresPassword }}"
            {{- else }}
            - name: JOBS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ $.Values.postgresql.global.postgresql.auth.existingSecret }}"
                  key: "{{ $.Values.postgresql.global.postgresql.auth.secretKeys.adminPasswordKey }}"
            {{- end }}

            {{- if empty (default "" $.Values.minio.auth.existingSecret) }}
            - name: S3_ACCESS_KEY
              value: "{{ $.Values.minio.auth.rootUser }}"
            - name: S3_SECRET_KEY
              value: "{{ $.Values.minio.auth.rootPassword }}"
            {{- else }}
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ $.Values.minio.auth.existingSecret }}"
                  key: "root-user"
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ $.Values.minio.auth.existingSecret }}"
                  key: "root-password"
            {{- end }}

            {{- if empty (default "" $.Values.redis.auth.existingSecret) }}
            - name: JOBS_REDIS_PASSWORD
              value: "{{ $.Values.redis.auth.password }}"
            - name: JOBS_REDIS_CERT
              value: {{ $.Values.redis.custom.cert | quote }}
            {{- else }}
            - name: JOBS_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ $.Values.redis.auth.existingSecret }}"
                  key: "{{ $.Values.redis.auth.existingSecretPasswordKey }}"
            {{- if $.Values.redis.auth.existingSecretCertKey }}
            - name: JOBS_REDIS_CERT
              valueFrom:
                secretKeyRef:
                  name: "{{ $.Values.redis.auth.existingSecret }}"
                  key: "{{ $.Values.redis.auth.existingSecretCertKey }}"
            {{- end }}
            {{- end }}

            {{- end }}

          volumeMounts:
            - name: ca-certificates
              mountPath: /usr/local/share/ca-certificates/
              readOnly: true
          {{- if eq .type "frontend" }}
            - name: config-volume
              mountPath: /app/.next/server/app/config.body
              subPath: config.body
          {{- end }}

      volumes:
        - name: ca-certificates
          {{- if $.Values.customCertificateAuthority.existingSecret }}
          secret:
            secretName: {{ $.Values.customCertificateAuthority.existingSecret }}
          {{- else }}
          configMap:
            name: {{ $.Values.customCertificateAuthority.configMapName }}
          {{- end }}
      {{- if eq .type "frontend" }}
      - name: config-volume
        configMap:
          name: {{ .name }}
      {{- end }}

{{- end }}
{{ end }}
